body,
html {
    margin: 0;
    padding: 0;


}

main {
    display: grid;
    grid-template-columns: 100%;

}

article {
    border: 1px;
    padding: 0, 625em;
    border-color: gainsboro;
    ;
    border-style: solid;

    margin-bottom: 1em;
    margin: 1em;

    border-radius: 5px;
    box-shadow: 0px 1px 5px gainsboro;
    transition: 0.7sec;
    min-width: 14em;
}

article img {
    height: 10em;
}

header button {
    width: 1.68em;
    height: 1.68em;
    background-color: #09173b;
    border-style: none;
    padding: 0;
    object-fit: scale-down;
}


img {
    width: 100%;
    object-fit: cover;
}

header {
    background-color: #09173b;

}

h1 {
    color: #f8db2d;
    font-family: "Aspect";

    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    transition: 0.7s;
    margin-top: 0;

}

h2 {
    font-family: 'Aspect', sans-serif;

    color: dimgray;

}



body section:nth-child(2) h2 {
    padding: 0.75em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    background-image: url("https://cdn.aarp.net/content/dam/aarp/money/budgeting_savings/2016/04/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea.jpg");
    background-size: 70%;
    color: white;
    height: 8, 25em;


}

h3 {
    font-family: "Pembroke-Medium", sans-serif;
    font-size: 1.5em;
    margin-left: 1em;
    font-weight: bolder;

}

button {
    background-color: #f9dc2f;
    padding: 1em;
    display:

        font-family: "Pembroke", sans-serif;
    font-weight: bold;
    font-size: 1em;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #dcc228;
}

p {
    font-family: "Pembroke", sans-serif;
    width: 16.125em;
    margin-left: 1.5em;
}

input {
    min-width: 20em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 0.2em;
    border-color: cyan;
    border-width: 1px;
    background-color: #d3e8ee;
    font-family: 'Pembroke', sans-serif;
    font-size: 1em;
    margin-left: 1em;

}

article:hover {
    filter: brightness(110%);
}

footer {
    font-size: 0.75em;

}

ul {

    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;


}

li {
    margin: .5em;
    background-color: #34405e;
    padding: 0.75em;
    list-style-type: none;
    transition: 4sec;
    border-top: solid 0.5em;
    border-color: #34405e;
    



}

li a {
    text-decoration: none;

    font-family: "Pembroke", sans-serif;
    color: white;


}

li:hover {
    background-color: #525b75;
    border-top: solid 0.5em;
    border-color: #f8db2d;

}

@media(min-width: 37.5em) and (max-width: 45.5em) {
    main {
        grid-template-columns: 50% 50%;

    }

    article:first-child {
        grid-column-start: 1;
        grid-column-end: 3;

    }
}


@media(min-width: 45.5em) {
    main {
        grid-template-columns: 33% 33% 33%;

    }

    article:first-child {
        grid-column-start: 1;
        grid-column-end: 3;

    }
}


.filter {
    display: flex;
    flex-flow: row wrap;
}

footer p {
    width: 100%;
}

header p {
    color: #f8db2d;
    margin: auto;
    width: 14em;
   margin-top: -3em;
    font-family: 'Aspect-Light'
}

fieldset {
   padding: 1em;
    font-family: 'Pembroke', sans-serif;
    
}

legend {
    padding-bottom: 2em;
   
  
}

