body,
html {
    margin: 0;
    padding: 0;

}



.ratings {
    max-width: 25em;
    min-width: 20em;
    min-height: 23em;

}

main {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 2.18em;
    margin-right: 2.18em;

}

a {
    text-decoration: none;
    color: #34405e;
}

article {
    border: 0.0625em;
    padding: 0.625em;
    border-color: gainsboro;
    ;
    border-style: solid;

    margin-bottom: 1em;
    margin: 1em;

    border-radius: 0.3125em;
    box-shadow: 0em 0.0625em 0.3125em gainsboro;
    transition: 0.7sec;
    min-width: 14em;
}

article img {
    height: 10em;
    
}

/* main button:nth-child(-n+2) {
    width: 9em;
*/

}

article h2 {
    background: none;
    color: dimgrey;
    padding: 0.6em;

}



article button {
    margin: auto;
    width: 100%;
    align-content: center;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    background-color: #09173b;
}

h1 {
    color: #f8db2d;
    font-family: "Aspect";

    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    transition: 0.7s;
    margin-top: 0;
}

h2 {
    font-family: 'Aspect', sans-serif;
    margin-left: 1em;
    color: white;
    background-image: url("https://cdn.aarp.net/content/dam/aarp/money/budgeting_savings/2016/04/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea.jpg");
    padding: 1.25em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    margin: 0;
    font-size: 2.25em;
}



body section:nth-child(2) h2 {
    padding: 0.75em;
    padding-top: 2.5em;
    padding-bottom: 3em;
    background-image: url("https://cdn.aarp.net/content/dam/aarp/money/budgeting_savings/2016/04/1140-yeager-sell-your-used-books.imgcache.rev6feda141288df73e8fd100822bb375ea.jpg");
    background-size: 70%;
    color: white;
    height: 8, 25em;
}

h3 {
    font-family: "Pembroke-Medium", sans-serif;
    font-size: 1.5em;
    margin-left: 1em;
    font-weight: bolder;
}

h5 {
    font-family: 'Pembroke', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #34405e;
    margin: 0;
    margin-left: 0.5em;
}

button {
    background-color: #2eb6c8;
    padding-left: 1.875em;
    padding-right: 1.875em;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 2.25em;
    font-family: "Pembroke", sans-serif;
    color: white;
    font-size: 1em;
    border: none;


}



header p {
    color: #f8db2d;
    margin: auto;
    width: 14em;
    margin-top: -3em;
    font-family: 'Aspect-Light'
}

p {
    font-family: "Pembroke", sans-serif;
    width: 16.125em;
    margin-left: 1.5em;
}



article:hover {}

footer {
    font-size: 0.75em;

}

ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;

}

li {
    margin: .5em;
    margin-bottom: 0;
    margin-top: 1em;
    background-color: #34405e;
    padding: 0.4em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    list-style-type: none;
    transition: 4sec;
    /* border-top: solid 0.5em;
    border-color: #34405e; */
    font-size: 1.2em;
}

li a {
    text-decoration: none;
    font-family: "Pembroke", sans-serif;
    color: white;

}

.verhaal {
    content: url("/img/viewportsArtboard%203.jpg");
    width: 100%;
}

button a {
    text-decoration: none;
    color: white;
}

li:hover {
    background-color: #525b75;
    /*
    border-top: solid 0.5em;
    border-color: #f8db2d; */
}

@media(max-width: 37.5em) {
    .verhaal {
        width: 100%;
        background-image: url("/img/Alzheimer%20Poster%20V2.jpg");
    }

    .filter {
        grid-template-columns: 99%;

        display: block;
    }

    form fieldset:first-of-type {
        margin-top: 1.5em;
    }

    .verhaal {
        content: url("/img/viewportsArtboard%205.jpg");
        width: 100%;
    }

}

@media(min-width: 37.5em) and (max-width: 50em) {
    main {
        grid-template-columns: 50% 50%;
        margin-left: 4.12em;
        margin-right: 4.12em;
    }

    header p {
        margin-left: 1.3em;
    }

    article:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    li {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    h1 {
        text-align: left;
        margin-left: 0.6em;
        margin-right: 0;
    }

    li:nth-of-type(4) {
        margin-left: auto;

    }

    ul {
        margin: 1em;
        margin-bottom: 0;
        max-width: 100%;
    }

    form fieldset:nth-child(3) {
        margin-left: 1.5em;
    }




    h4:first-of-type {
        display: none;
        color: transparent;
        font-size: 0;
    }


    .verhaal {
        content: url("/img/viewportsArtboard%204.jpg");
        width: 100%;
    }




    .filter {
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;

    }


}



@media(min-width: 50em) {
    main {
        grid-template-columns: 33% 33% 33%;
        margin-left: 11.25em;
        margin-right: 11.25em;
    }

    li {
        padding-top: 1em;
        padding-bottom: 1em;
    }



    article:first-child {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    li:nth-of-type(4) {
        margin-left: auto;

    }

    h1 {
        text-align: left;
        margin-left: 0.6em;
        margin-right: 0;
    }

    ul {
        margin: 1em;
        margin-bottom: 0;
        max-width: 100%;
    }

    header p {
        margin-left: 1.3em;
    }

    h4:first-of-type {
        display: none;
        color: transparent;
        font-size: 0;
    }

    .verhaal {
        content: url("/img/interatie%20animatie.gif");
        width: 100%;

    }

    .filter {
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
    }

}










footer p {
    width: 100%;
}



fieldset {
    padding: 1em;
    font-family: 'Pembroke', sans-serif;
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    font-family: "Aspect";
    font-weight: bold;

}

form button {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;

}


nav {

    justify-content: space-between;
}

.rating {
    width: 2em;
    height: 2em;



}

.rating:nth-child(3) {
    transform: rotate(180deg);
}

/*div {
    display: flex;
    align-items: stretch;
    margin: 1em;
    display: none;


}

div p {
    margin: 0;
    padding: 0.5em;
    font-family: "Pembroke", sans-serif;
    color: white;

}

div p:nth-child(1) {
    background-color: green;

}

div p:nth-child(2) {
    background-color: red;

    flex-shrink: 1;

}
*/
label {
    margin: 1em;

    font-family: "Pembroke", sans-serif;
    font-weight: bold;

}

section:first-of-type {

    margin: auto;
    width: 100%;
    display: grid;
    align-self: center;

    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1em;


}

section button {
    grid-column-start: 3;
}

section button:nth-child(2) {
    grid-column-start: 4;
}


/* section p:nth-child(n+3) {
    position: absolute;
}

section p:nth-child(0) {
    left: 4em;
}

section p:nth-child(1) {
    left: 7em;
    bottom: 4em;
}

section p:nth-child(2) {
    left: 2em;
    top: 40em;
}

section p:nth-child(3) {
    left: 15em;
    top: 57em;
}

section p:nth-child(4) {
    left: 10em;
    top: 70em;
}

section p:nth-child(5) {
    left: 1em;
    top: 85em
}

section p:nth-child(6) {
    left: 19em;
    top: 95em
}

section p:nth-child(7) {
    left: 10em;
    top: 120em
}



section article {
    position: relative;
    top: 120em;

}
*/
form {
    display: flex;
    flex-direction: column;
    width: 20em;
    border-style: solid;
    padding: 1em;
    border-width: 0.09em;
    margin: auto;
    border-color: gainsboro;
    border-radius: 0.25em;
    margin-top: 0.875em;

}

form input {

    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 1em;
    padding-top: 1em;
    border-radius: 0.2em;
    border-color: #2eb6c8;
    border-width: 0.04em;
    background-color: #c1d4da;
    font-family: 'Pembroke', sans-serif;
    font-size: 1em;

    margin-bottom: 1em;
    margin-top: 1em;
}



article footer {
    position: inherit;

}



/* deze styling zorgt ervoor dat de indicator altijd fixed bovenaan de pagina staat */
.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #faec48;
}

/* De container krijgt een donkerblauwe achterrond */
.progress-container {
    width: 100%;
    height: 0.5em;
    background: #34405e;
}

/* Hier krijgt de progress bar een gele kleur*/
.progress-bar {
    height: 0.5em;
    background: #faec48;
    width: 0%;
}

header button {
    background-color: transparent;
    position: absolute;
    top: 1em;
    right: 0;
    margin: 0;
}

object img {
    width: 1.5em;
    position: absolute;
}

form {
    position: relative;
}


form button:first-of-type {
    background-color: transparent;
    width: 0.75em;
    position: absolute;

    right: 3.5em;
    margin: 0;
}

main h2 {
    padding: 0;
    background: none;
    color: #09173b;
}

h4 {
    border-bottom: solid 0.5em;
    color: #c1d4da;
    width: 5em;
    margin: auto;
    margin-bottom: 2em;

}

.svg {
    object-fit: contain;
    padding: 1em;
}

body section button {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.thumbs {
    width: 1em;
    display: inline;
    position: relative;
    margin-left: 3em;
    background: transparent;
}

.balk {
    object-fit: contain;
}

.login {
    width: 15em;
    margin: auto;
}

.help {
    font-family: 'Pembroke', sans-serif;
    margin: 0.5em;
}

.empty {
    margin-bottom: 3em;

    background-image: url("");
    background-color: #c1d4da;
    color: #09173b;
}

.contact {
    display: flex;
    flex-direction: column;

}

.contact li {
    background: none;
    margin: 0;

}

.contact li a {
    color: #2eb6c8;
}

.contact li:nth-of-type(4) {
    margin-left: 0;
}

.end {
    margin-bottom: 0;
    margin-top: 5em;
}

.expand input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
    cursor: pointer;
   
}
    
.expand input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
   
.emptyst { padding: 1em;
    margin: 4em;
   font-weight: 700;
    color: grey;
    position: relative;
    margin-bottom: 5em;
    
}
  
p img {
    width: 1.5em;
    height: 1.5em;
  
    object-fit: contain
}